@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Comfortaa', cursive;
}

.container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  background-color: $light-gray;
}

.hidden {
  display: none;
}

.additional-height {
  height: 90px;
}

@import "./modules/header.scss";
@import "./modules/main.scss";
@import "./modules/footer.scss";