.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  width: calc(1440px - 40px);
  height: 30px;
  margin: 0 auto;
  padding: 20px;
  font-size: 16px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: 20px;
  background-color: $gray;
  a {
    text-decoration: none;
    color: #000000;
    transition: color 0.25s;
    &:hover {
      color: $main-color;
    }
  }
  &-hotline {
    &-phone {
      display: block;
      text-align: center;
    }
    &-descr {
      font-size: 14px;
    }
  }
}