.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  width: calc(1440px - 40px);
  height: 70px;
  margin: 0 auto;
  padding: 20px;
  font-size: 24px;
}
.header {
  background-color: $gray;
  &-logo {
    &-img {
      width: 200px;
      transition: transform 0.5s;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
  &-title {
    width: 45%;
  }
  &-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    font-weight: 700;
    border: 3px solid $main-color;
    border-radius: 8px;
    transition: all 0.25s;
    cursor: pointer;
    &-active {
      background-color: $light-gray;
    }
    &:hover {
      background-color: $dark-gray;
      color: $main-color;
    }
  }
}