.main {
  width: 1440px;
  height: 100%;
  margin: 0 auto;
  &-about {
    &-title {
      margin-top: 10px;
      font-size: 40px;
      font-weight: normal;
      color: $main-color;
      text-align: center;
    }
    &-inner {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      &-descr {
        width: 50%;
        p {
          margin-top: 10px;
        }
      }
      &-img {
        width: 45%;
        background: url("./assets/bg.jpg");
        background-size: cover;
        background-position: -20%;
      }
    }
  }
}