.main {
  width: 1440px;
  height: 100%;
  margin: 0 auto;
  &-about {
    &-title {
      margin-top: 10px;
      font-size: 40px;
      font-weight: normal;
      color: $main-color;
      text-align: center;
    }
    &-inner {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      &-descr {
        width: 50%;
        p {
          margin-top: 10px;
        }
      }
      &-img {
        width: 45%;
        background: url("./assets/bg.jpg");
        background-size: cover;
        background-position: -20%;
      }
    }
  }

  &-schedule {
    &-weeks {
      display: flex;
      gap: 10px;
      width: 1070px;
      margin: 30px auto 0 auto;
      &-btn {
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border: 2px solid $main-color;
        border-radius: 10px;
        cursor: pointer;
        &-active {
          background-color: $main-color;
        }
        &:hover {
          background-color: $dark-gray;
          color: $main-color;
        }
      }
    }

    .week {
      width: 100%;
      margin-top: 20px;
      &-title {
        margin-bottom: 20px;
        font-size: 32px;
        text-align: center;
      }
    }
    .day {
      width: 100%;
      &-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 50px;
        padding: 5px;
        border: 2px solid $main-color;
        background-color: $semi-dark-gray;
        font-size: 18px;
        text-align: center;
        &-weekday {
          font-weight: 700;
        }
      }
      &-lesson {
        display: flex;
        width: 100%;
        text-align: center;
        &-item {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 20%;
          height: 70px;
          border: 2px solid $main-color;
        }
        &-title {
          width: 40%;
          flex-direction: column;
          &-name {
            font-size: 18px;
            font-weight: 700;
          }
        }
      }
    }
  }
}